header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    object-fit: cover;
    object-position: right top;
    vertical-align: middle;
}

main div {
    width: fit-content;
}

main a {
    font-family: HelveticaLight, Arial, sans-serif;
    font-size: 3em;
    color: var(--link);
    text-decoration: none;
    position: relative;
    transition: color 0.5s ease;
}

main a::before {
    content: "/";
    position: absolute;
    left: -0.3em;
    color: var(--link-before);
    transition: color 0.5s ease;
}

main a:hover {
    color: var(--link-hover);
}

main a:hover::before {
    color: var(--link-before-hover);
}

@media (max-width: 1200px) {
    main a {
        font-size: 2.5em;
    }
}

@media (max-width: 700px) {
    header img {
        display: none;
    }
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main a {
        font-size: 2em;
    }
}