---
// Home Page

interface Frontmatter {
  links: { name: string; url: string }[];
}

import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="content">
    <h1>zac cleveland</h1>
    <p>21 yr old software developer from new zealand.</p>
    <p>bsc (compsci and mathematics) 2022 from the university of auckland.</p>
  </div>
  <div>
    <ul>
      <li><h2><a href="/about">about</a></h2></li>
      <li><h2><a href="/projects">projects</a></h2></li>
      <li><h2><a href="/cv.pdf">cv</a></h2></li>
      <li><h2><a href="/more">more</a></h2></li>
    </ul>
  </div>
</Layout>
<style>
  .content {
    margin-bottom: 3em;
  }

  .content p {
    margin: 0.5em 0;
    line-height: 1.2;
  }

  ul {
    margin: auto;
    list-style: none;
    padding-left: 0;
    line-height: 0.6em;
  }

  li > h2 {
    margin: 0.7em 0;
  }

  li a {
    color: var(--accent-0);
    text-decoration: none;
  }
</style>
