---
// Home Page

interface Frontmatter {
  links: { name: string; url: string }[];
}

import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="content">
    <h1>zac cleveland</h1>
    <p>21 yr old software developer from new zealand.</p>
    <p>bsc (compsci and mathematics) 2022 from the university of auckland.</p>
  </div>
  <div>
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/cv.pdf">cv</a></li>
      <li><a href="/more">more</a></li>
    </ul>
  </div>
</Layout>
<style>
  .content {
    margin-bottom: 60px;
    font-size: 1.5rem;
  }

  .content h1 {
    font-size: 3em;
    margin: 0;
  }

  .content p {
    margin: 0.2em 0;
  }

  .content img {
    width: 2em;
    transform: translateY(35%);
  }

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 2em;
    line-height: 3rem;
  }

  li {
    margin: 0;
  }

  li a {
    color: var(--accent-0);
    text-decoration: none;
  }
</style>
