---
// Component that renders (and optionally sorts) a list of projects

import type { CollectionEntry } from "astro:content";
import ProjectEntry from "@components/ProjectEntry.astro";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div>
    {projects.map((project) => <ProjectEntry project={project} />)}
</div>
