---
// Component that renders (and optionally sorts) a list of projects

import type { CollectionEntry } from "astro:content";
import ProjectEntry from "@components/ProjectEntry.astro";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="class-list">
    {projects.map((project) => <ProjectEntry project={project} />)}
</div>
<style>
    .class-list {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    @media only screen and (min-width: 1100px) {
        .class-list {
            grid-template-columns: auto auto;
        }
    }
</style>
