---
// List of all featured projects, sorted by feature (ascending)

import Layout from '@layouts/Layout.astro';
import ProjectList from '@components/ProjectList.astro';
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
const featuredProjects = allProjects.filter(project => project.data.featured !== undefined)
                                    .sort(project => project.data.featured)
                                    .reverse();
---

<Layout>
  <h1>featured projects</h1>
  <ProjectList projects={featuredProjects} />
  <p><a href="/projects/all">view more</a></p>
</Layout>
