main h1 {
    font-family: HelveticaBold, Arial, sans-serif;
    color: var(--text);
    font-size: 2.5em;
    margin-bottom: 0px;
}

main p {
    font-family: HelveticaLight, Arial, sans-serif;
    color: var(--text);
    font-size: 1.5em;
    margin-block-start: 0.5em;
}

main a {
    color: var(--link);
}

main li {
    font-family: HelveticaLight, Arial, sans-serif;
    color: var(--text);
    font-size: 1em;
}