{% extends "template/page.html" %}

{% block head %}
<link rel="stylesheet" href="/styles/index.css">
<title>zac cleveland</title>
<meta name="description"
    content="👋 I'm Zac Cleveland, a software developer from Auckland, New Zealand 🇳🇿.  Interested in Programming, Binary Security and Algorithms.  Enjoy programming in Rust, TypeScript and C.">
{% endblock %}

{% block header %}
<div>
    <h1>👋 zac cleveland</h1>
    <p>🇳🇿 from Auckland, New Zealand</p>
    <p>💡 programming, binary security, and algorithms</p>
    <p>🧑🏼‍🏫 BSc (Computer Science and Maths) 2022</p>
    <p>🎓 University of Auckland</p>
    <p>🛠️ Rust, TypeScript and C</p>
</div>
<div>
    <img src="zac2.jpg" alt="A picture of me in Marseille, France 🇫🇷"
        title="A picture of me in Marseille, France 🇫🇷">
</div>
{% endblock %}

{% block main %}
<div><a href="/about">about</a></div>
<div><a href="/contact">contact</a></div>
<div><a href="/projects">projects</a></div>
<div><a href="/cv.pdf" target="_blank">cv</a></div>
<div><a href="/..." title="more">...</a></div>
{% endblock %}