{% extends "template/page.html" %}

{% block head %}
<link rel="stylesheet" href="/styles/projects.css">
<title>projects - zac cleveland</title>
{% endblock %}

{% block header %}
<h1>/projects</h1>
<p><a href="/">go back</a></p>
{% endblock %}

{% block main %}
{% for project in projects %}
<div class="project">
    <div class="title">
        <h1>{{ project.name }} <span class="year">({{ project.year }})</span></h1>
        {% if project.link.is_some() %}
        <a href="{{ project.link.as_ref().unwrap().url }}"> {{ project.link.as_ref().unwrap().text }}</a>
        {% endif %}
        {% if project.git.is_some() %}
        <a href="{{ project.git.as_deref().unwrap() }}"><img class="icon icon-github" src="/icon/github-mark.svg"></a>
        {% endif %}
    </div>
    {% if project.showcase.is_some() %}
    <img class="showcase" src="{{ project.showcase.as_deref().unwrap() }}">
    {% endif %}
    {% if project.demo.is_some() %}
    <iframe class="showcase" width="640" height="360" src="{{ project.demo.as_deref().unwrap() }}?mute=1"></iframe>
    {% endif %}
    <h3>{{ project.tag }}</h3>
    <p><strong>{{ project.lang }}</strong></p>
    {% if project.description.is_some() %}
    <p>{{ project.description.as_deref().unwrap() }}</p>
    {% endif %}
</div>
<hr>
{% endfor %}
<h3>for more projects, check out my GitHub page.</h3>
{% endblock %}